/* Importa as fontes do projeto */
@font-face {
	font-family: Simplifica;
	src: url(../font/simplifica.ttf);
	font-weight: normal;
}

/* Adiciona estilos a todos os elementos */
*{
	margin: 0;
	font-family: 'Simplifica';
}

/* Define a cor padrão que irá compor navbar, botões, rodapé, etc */
.default_color{
	background-color: #26a69a;
}

/* Estilos da barra de navegação */
.navbar{
	height: 3.5rem;
}

/* Define os estilos de todos os títulos das páginas */
.title{
	font-weight: normal;
	padding-bottom: 2rem;
  	font-size: 54px;
  	color: #fff;
}

/* Define estilos para os subtítulos */
.subtitle{
	font-weight: normal;
  	font-size: 28px;
  	color: #fff;
  	padding-bottom: 2rem;
  	text-decoration: underline;
}

/* Define estilos para os textos "comuns" */
.article{
	font-size: 24px;
	color: #fff;
	text-align: justify;
}

/* Define cor de texto diferente quando o fundo da div for branco */
.green-title *{
	color: #26a69a !important;
}

/* Centraliza os elemtentos */
.center{
	text-align: center;
	box-sizing: border-box;
}

/* Footer */
.footer *{
	font-size: 28px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* Define estilos válidos somente em dispositivos com resolução até 600px */
@media screen and (max-width: 600px) {
	.article{
		padding-bottom: 2rem;
	}
}


